body {
    background:#CCCCCC;    
}

header, a {
    width: 100%;
}

#banner {
    width: 100%;
}

.titulo-principal {
    font-size: 2em;
    text-align: center;
    margin: 0 0 1em;
    clear: left; 
}

.principal, h2 {
    margin: 0 0 1em;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;  
    font-size: 18px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;    
}

#missao {
    font-size: 20px;
}

em strong {
    color:red;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.imagembeneficios {
    width: 50%;
}